[build]
  functions = "netlify/functions"
  publish = "."
  command = "npm --prefix netlify/functions install"

[[plugins]]
  package = "@netlify/plugin-functions-install-core"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[build.environment]
  NODE_VERSION = "18"
